# Jenkins
JENKINS_HTTP_PORT=8081
JENKINS_AGENT_PORT=50000
TICKETBOX_APP_COMPOSE_PROJECT=ticketbox

# Mailpit
MAILPIT_WEB_PORT=8025
MAILPIT_SMTP_PORT=1025

# Ngrok
NGROK_AUTHTOKEN=
NGROK_INSPECT_PORT=4040

